pkgbase = orrery-git
	pkgdesc = every repo in orbit — a Linux-native command center for your git repos
	pkgver = 0.2.0.r176.g012d7da
	pkgrel = 1
	url = https://github.com/Hankanman/Orrery
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = git
	makedepends = rust
	makedepends = cargo
	makedepends = cmake
	makedepends = pkgconf
	makedepends = vulkan-headers
	depends = vulkan-icd-loader
	depends = fontconfig
	depends = libxkbcommon
	depends = hicolor-icon-theme
	provides = orrery
	conflicts = orrery
	options = !lto
	source = orrery::git+https://github.com/Hankanman/Orrery.git
	sha256sums = SKIP

pkgname = orrery-git
